<h1></h1>
<h3></h3>

<h3>投稿の検索</h3>
 <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<%= link_to "新規投稿へ", new_tweet_path, class: "new-post-btn" %>

<%= link_to "トップに戻る", tweets_top_path, class: "new-post-btn-top123" %>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet-box">
      <div class="tweet-image">
        <%= image_tag t.image_url, size: "250x200" if t.image? %>
      </div>
      <div class="tweet-info">
        <p class="tweet-title"><strong>タイトル:</strong> <%= t.title %></p>
      </div>
      <div class="tweet-info">
        <p class="tweet-date"><strong>日付:</strong> <%= t.date %></p>
      </div>
      <div class="tweet-info">
        <p class="tweet-impression"><strong>感想:</strong> <%= t.impression %></p>
      </div>
      <div class="tweet-info">
        <p class="tweet-user"><strong>投稿者:</strong> <%= t.user.email %></p>
      </div>

      <div class="tweet-actions">
        <%= link_to "詳細へ", tweet_path(t.id), class: "btn-detail" %>
      　<%= link_to "編集する", edit_tweet_path(t.id), class: "btn-edit" %>
        <%= button_to "削除する", tweet_path(t.id), method: :delete, class: "btn-delete" %>
      </div>
    </div>
  <% end %>
</div>

